@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic body styles for the app */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Using Inter as specified */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; /* A light background color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}